<div class="container">
  <h1>{{title}}</h1>
  <p>Bienvenid@ a {{title}}</p>
  <a href="/login" class="btn btn-small btn-dark">Iniciar sesión</a>
  <a href="/search" class="btn btn-small btn-dark">Buscar un vuelo</a>
</div>